## Biblioteca

In [37]:
import pandas as pd
import numpy as np
import random
from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns

## Descrição dos dados

In [38]:
df = pd.read_csv("../../data/raw/Melbourne_housing_FULL.csv")

In [39]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

- Suburb: Bairro
- Address: Endereço
- Rooms: Quartos
- Type: br - bedroom(s); h - house,cottage,villa, semi,terrace; u - unit, duplex; t - townhouse; dev site - development site; o res - other residential.
- Price: Preço em dólares
- Method: S - property sold; SP - property sold prior; PI - property passed in; PN - sold prior not disclosed; SN - sold not disclosed; NB - no bid; VB - vendor bid; W - withdrawn prior to auction; SA - sold after auction; SS - sold after auction price not disclosed. N/A - price or highest bid not available.
- SellerG: Corretor imobiliário
- Date: data vendida
- Distance: Distância até o C.B.D de Melbourne
- Postcode: CEP
- Bedroom2: 
- Bathroom:
- Car: Nº de garagem
- Landsize: Área do lote
- BuildingArea: Área construída
- YearBuilt: Ano em que foi construído
- CouncilArea: Conselho Tutelar(?)
- Lattitude: Latitude
- Longtitude: Longitude
- Regionname: Zonas (Leste, Oeste, Norte, Sul, etc.)
- Propertycount: Nº de propriedades que existem no bairro

Amostra dos dados

In [50]:
df.sample(5, random_state = 12)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
4833,Glenroy,6/2 Murrell St,2,u,320500.0,S,Nelson,17/09/2016,13.0,3046.0,...,1.0,1.0,3056.0,NaN,NaN,Moreland City Council,-37.70420,144.92140,Northern Metropolitan,8870.0
8545,Reservoir,57 Hobbs Cr,3,h,888000.0,S,Barry,18/03/2017,11.2,3073.0,...,NaN,NaN,NaN,NaN,NaN,Darebin City Council,NaN,NaN,Northern Metropolitan,21650.0
19164,St Albans,76 East Esplanade,3,h,627000.0,PI,O'Brien,22/07/2017,14.0,3021.0,...,1.0,3.0,581.0,NaN,NaN,Brimbank City Council,-37.73348,144.79564,Western Metropolitan,14042.0
23517,Vermont South,2 Settlers Ct,4,h,1295000.0,SP,Purplebricks,26/08/2017,17.2,3133.0,...,2.0,2.0,NaN,190.00,1980.0,Whitehorse City Council,-37.85928,145.18715,Eastern Metropolitan,4280.0
16896,Epping,53 Hayston Bvd,3,h,465000.0,S,Harcourts,27/05/2017,19.6,3076.0,...,2.0,1.0,606.0,111.04,2005.0,Whittlesea City Council,-37.62858,145.03735,Northern Metropolitan,10926.0

In [58]:
df.shape

(34857, 21)

Algumas informações como completude e tipo de coluna

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

Estatísticas básicas de variáveis numéricas. Como podemos observar, há propriedade com Bedroom2, Bathroom, Landsize e BuildingArea iguais a zero, o que não faz sentido, logo serão excluídas.

In [51]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Rooms,34857.0,3.031012e+00,0.969933,1.00000,2.00000,3.0000,4.000000e+00,1.600000e+01
Price,27247.0,1.050173e+06,641467.130105,85000.00000,635000.00000,870000.0000,1.295000e+06,1.120000e+07
Distance,34856.0,1.118493e+01,6.788892,0.00000,6.40000,10.3000,1.400000e+01,4.810000e+01
Postcode,34856.0,3.116063e+03,109.023903,3000.00000,3051.00000,3103.0000,3.156000e+03,3.978000e+03
Bedroom2,26640.0,3.084647e+00,0.980690,0.00000,2.00000,3.0000,4.000000e+00,3.000000e+01
Bathroom,26631.0,1.624798e+00,0.724212,0.00000,1.00000,2.0000,2.000000e+00,1.200000e+01
Car,26129.0,1.728845e+00,1.010771,0.00000,1.00000,2.0000,2.000000e+00,2.600000e+01
Landsize,23047.0,5.935990e+02,3398.841946,0.00000,224.00000,521.0000,6.700000e+02,4.330140e+05
BuildingArea,13742.0,1.602564e+02,401.267060,0.00000,102.00000,136.0000,1.880000e+02,4.451500e+04
YearBuilt,15551.0,1.965290e+03,37.328178,1196.00000,1940.00000,1970.0000,2.000000e+03,2.106000e+03
Lattitude,26881.0,-3.781063e+01,0.090279,-38.19043,-37.86295,-37.8076,-3.775410e+01,-3.739020e+01
Longtitude,26881.0,1.450019e+02,0.120169,144.42379,144.93350,145.0078,1.450719e+02,1.455264e+02
Propertycount,34854.0,7.572888e+03,4428.090313,83.00000,4385.00000,6763.0000,1.041200e+04,2.165000e+04

Completude dos dados (dados faltantes)

In [56]:
df.isnull().sum()/df.shape[0]

Suburb           0.000000
Address          0.000000
Rooms            0.000000
Type             0.000000
Price            0.218321
Method           0.000000
SellerG          0.000000
Date             0.000000
Distance         0.000029
Postcode         0.000029
Bedroom2         0.235735
Bathroom         0.235993
Car              0.250394
Landsize         0.338813
BuildingArea     0.605761
YearBuilt        0.553863
CouncilArea      0.000086
Lattitude        0.228821
Longtitude       0.228821
Regionname       0.000086
Propertycount    0.000086
dtype: float64

In [57]:
pd.DataFrame({'tipos':df.dtypes, 'faltantes':  df.isnull().sum()})

                 tipos  faltantes
Suburb          object          0
Address         object          0
Rooms            int64          0
Type            object          0
Price          float64       7610
Method          object          0
SellerG         object          0
Date            object          0
Distance       float64          1
Postcode       float64          1
Bedroom2       float64       8217
Bathroom       float64       8226
Car            float64       8728
Landsize       float64      11810
BuildingArea   float64      21115
YearBuilt      float64      19306
CouncilArea     object          3
Lattitude      float64       7976
Longtitude     float64       7976
Regionname      object          3
Propertycount  float64          3

## Preprocessamento

### Lidando com valores inconsistentes

In [8]:
df = df[~(df[['Bedroom2', 'Bathroom', 'Landsize', 'BuildingArea']] == 0).any(axis = 1)]

### Lidando com dados faltantes

Vamos listar as colunas onde há pelo menos 1 missing value

In [9]:
df.columns[df.isnull().any()]

Index(['Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

No caso dos preços, vamos simplesmente tirar as observações.

Filtrando as observações com os preços faltantes.

In [10]:
df_clean = df[~df['Price'].isnull()]

Vamos investigar as outras observações faltantes:

In [11]:
df_clean[df_clean['Distance'].isnull()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
29483,Fawkner Lot,1/3 Brian St,3,h,616000.0,SP,Brad,6/01/2018,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

A variável 'Distance' é dada pela distância em km entre o lugar onde se encontra a casa/apt até o CBD (central business district) de Melbourne

In [12]:
df_clean.groupby(['Suburb', 'Distance']).agg({'Distance': 'count'})

                       Distance
Suburb       Distance
Abbotsford   2.5             50
             3.0             40
Aberfeldie   7.5             33
             9.1             31
Airport West 10.4            77
...                         ...
Yarra Glen   31.4             1
Yarraville   6.3            110
             7.0            122
croydon      23.0             1
viewbank     8.9              1

[484 rows x 1 columns]

Distância até C.B.D. de Melbourne não deve ser tão diferente para cada bairro. Logo vou preencher com a média da distância data pelo bairro.

In [13]:
df_clean[df_clean['Suburb'] == 'Fawkner Lot']

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
29483,Fawkner Lot,1/3 Brian St,3,h,616000.0,SP,Brad,6/01/2018,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Como não existe nenhuma outra observação como referência, poderíamos procurar no google. O nome 'Lot' me deixou curioso se não é apenas erro na digitação. Vamos filtrar por apenas 'Fawkner'

In [14]:
df_clean[df_clean['Suburb'] == 'Fawkner']

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
11225,Fawkner,3 Lovely St,3,h,670000.0,S,YPA,3/12/2016,12.4,3060.0,...,1.0,3.0,587.0,136.0,NaN,Hume City Council,-37.70070,144.96320,Northern Metropolitan,5070.0
11227,Fawkner,220 McBryde St,3,h,645000.0,SP,YPA,4/02/2016,12.4,3060.0,...,1.0,4.0,661.0,NaN,NaN,Hume City Council,-37.70090,144.97760,Northern Metropolitan,5070.0
11228,Fawkner,73 Argyle St,3,h,687000.0,S,YPA,4/03/2017,12.4,3060.0,...,1.0,0.0,684.0,NaN,NaN,Hume City Council,-37.71740,144.96640,Northern Metropolitan,5070.0
11229,Fawkner,1/71 Lynch Rd,2,u,333000.0,SP,hockingstuart,4/03/2017,12.4,3060.0,...,1.0,1.0,97.0,79.0,1970.0,Hume City Council,-37.71180,144.96890,Northern Metropolitan,5070.0
11230,Fawkner,2A Piper St,3,t,455000.0,S,Brad,4/03/2017,12.4,3060.0,...,2.0,1.0,738.0,138.0,2010.0,Hume City Council,-37.71090,144.96540,Northern Metropolitan,5070.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33328,Fawkner,42 Tucker St,4,h,945000.0,S,HAR,17/03/2018,13.1,3060.0,...,2.0,6.0,652.0,166.0,1970.0,Hume City Council,-37.70811,144.96968,Northern Metropolitan,5070.0
34241,Fawkner,69 Marlborough St,4,h,879500.0,PI,Raine,24/02/2018,13.1,3060.0,...,1.0,2.0,690.0,NaN,1950.0,Hume City Council,-37.71829,144.96605,Northern Metropolitan,5070.0
34242,Fawkner,25 William St,3,h,728000.0,S,Ray,24/02/2018,13.1,3060.0,...,1.0,4.0,584.0,122.0,1960.0,Hume City Council,-37.70428,144.96717,Northern Metropolitan,5070.0
34243,Fawkner,33 Wymlet St,3,h,662500.0,PI,McGrath,24/02/2018,13.1,3060.0,...,1.0,2.0,609.0,NaN,NaN,Hume City Council,-37.71179,144.96594,Northern Metropolitan,5070.0
34244,Fawkner,3 Yuroke St,3,h,686000.0,S,Stockdale,24/02/2018,13.1,3060.0,...,1.0,4.0,639.0,NaN,NaN,Hume City Council,-37.71363,144.96751,Northern Metropolitan,5070.0

Isso indica que de fato houve erro na digitação. Vamos preencher então utilizando esses valores como referência. Irei utilizar a mediana para preencher, pois como podemos ver, só temos dois valores.

In [15]:
df_clean[df_clean['Suburb'] == 'Fawkner']['Distance'].unique()

array([12.4, 13.1])

In [16]:
idx = df_clean[df_clean['Suburb'] == 'Fawkner Lot'].index.tolist()
median_value = df_clean[df_clean['Suburb'] == 'Fawkner']['Distance'].median()

df_clean.loc[idx, ['Distance']] = median_value

/home/taryll/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

A seguir temos o mesmo problema, então basta preencher com o postcode dado.

In [17]:
df_clean[df_clean['Postcode'].isnull()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
29483,Fawkner Lot,1/3 Brian St,3,h,616000.0,SP,Brad,6/01/2018,12.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_clean[df_clean['Suburb'] == 'Fawkner']['Postcode'].unique()

array([3060.])

In [19]:
idx = df_clean[df_clean['Suburb'] == 'Fawkner Lot'].index.tolist()
mode_value = df_clean[df_clean['Suburb'] == 'Fawkner']['Postcode'].mode()

df_clean.loc[idx, 'Postcode'] = mode_value[0]

/home/taryll/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Latitude e Longitude tem relação com o bairro ou até mesmo com o endereço, logo irei eliminar as colunas.

In [20]:
df_clean.drop(['Lattitude', 'Longtitude'], axis = 1, inplace = True)

/home/taryll/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

As outras variáveis irei preencher com média para as variáveis numéricas e valores mais frequentes para as variáveis categóricas. Antes disso, irei lidar com outliers nessas variáveis e remover do nosso dataframe.

In [21]:
column_num = ['Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt']

In [22]:
z_scores = stats.zscore(df_clean[column_num],
                       nan_policy = 'omit')

abs_z_scores = np.abs(z_scores)

filtered_entries = (abs_z_scores.fillna(0) < 3).all(axis = 1)

df_without_outlier = df_clean[filtered_entries]

Agora que realizamos o procedimento uma vez, vamos preencher os valores com a moda para Bedroom2, Bathroom e Car, e com a média para Landsize, BuildingArea e YearBuilt

In [23]:
# mode_values = df_without_outlier[['Bedroom2', 'Bathroom', 'Car']].mode().iloc[0]
# df_without_outlier.loc[:, ['Bedroom2', 'Bathroom', 'Car']] = df_without_outlier.loc[:, ['Bedroom2', 'Bathroom', 'Car']].fillna(mode_values)

In [24]:
# mean_values = df_without_outlier[['Landsize', 'BuildingArea', 'YearBuilt']].mean()
# df_without_outlier.loc[:, ['Landsize', 'BuildingArea', 'YearBuilt']] = df_without_outlier.loc[:, ['Landsize', 'BuildingArea', 'YearBuilt']].fillna(mean_values)

In [25]:
df_clean = df_without_outlier.copy()

Para CouncilArea, Regionname e Propertycount, vamos investigar melhor

In [26]:
df_clean[df_clean['CouncilArea'].isnull()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Regionname,Propertycount
18523,Footscray,2/16 Stafford St,2,u,710000.0,S,Jas,15/07/2017,5.1,3011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26888,Camberwell,2/3 Kingsley St,2,h,825000.0,VB,Jellis,11/11/2017,7.7,3124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29483,Fawkner Lot,1/3 Brian St,3,h,616000.0,SP,Brad,6/01/2018,12.4,3060.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_clean[df_clean['Suburb'] == 'Footscray'].loc[:, ['CouncilArea', 'Regionname', 'Propertycount']].mode()

                CouncilArea            Regionname  Propertycount
0  Maribyrnong City Council  Western Metropolitan         7570.0

In [28]:
df_clean[df_clean['Suburb'] == 'Camberwell'].loc[:, ['CouncilArea', 'Regionname', 'Propertycount']].mode()

               CouncilArea             Regionname  Propertycount
0  Boroondara City Council  Southern Metropolitan         8920.0

In [29]:
df_clean[df_clean['Suburb'] == 'Fawkner'].loc[:, ['CouncilArea', 'Regionname', 'Propertycount']].mode()

         CouncilArea             Regionname  Propertycount
0  Hume City Council  Northern Metropolitan         5070.0

Para todos eles podemos preencher com os valores listados.

In [30]:
df_temp = df_clean[df_clean['CouncilArea'].isnull()]

In [31]:
idx = df_temp[df_temp['Suburb'] == 'Footscray'].index.tolist()
most_freq_values = df_clean[df_clean['Suburb'] == 'Footscray'].loc[:, ['CouncilArea', 'Regionname', 'Propertycount']].mode().to_numpy()

df_clean.loc[idx, ['CouncilArea', 'Regionname', 'Propertycount']] = most_freq_values[0]

In [32]:
idx = df_temp[df_temp['Suburb'] == 'Camberwell'].index.tolist()
most_freq_values = df_clean[df_clean['Suburb'] == 'Camberwell'].loc[:, ['CouncilArea', 'Regionname', 'Propertycount']].mode().to_numpy()

df_clean.loc[idx, ['CouncilArea', 'Regionname', 'Propertycount']] = most_freq_values[0]

In [33]:
idx = df_temp[df_temp['Suburb'] == 'Fawkner Lot'].index.tolist()
most_freq_values = df_clean[df_clean['Suburb'] == 'Fawkner'].loc[:, ['CouncilArea', 'Regionname', 'Propertycount']].mode().to_numpy()

df_clean.loc[idx, ['CouncilArea', 'Regionname', 'Propertycount']] = most_freq_values[0]

In [34]:
df_clean.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             0
Postcode             0
Bedroom2          6441
Bathroom          6447
Car               6818
Landsize          9172
BuildingArea     15415
YearBuilt        14242
CouncilArea          0
Regionname           0
Propertycount        0
dtype: int64

In [35]:
del df_temp, idx

In [36]:
df_clean.to_csv('../../data/processed/df_clean.csv', index = False)